---
import ServiceSectionContent from "./service-section-content";
---

<section>
  <h2 class="mb-10 text-center text-3xl font-bold text-slate-700">
    What we are delivering
  </h2>
  <ServiceSectionContent />
</section>
