---
import ArrowRight from "astro-heroicons/outline/ArrowRight.astro";
import RotatingText from "./rotating-text.astro";
---

<section
  class="relative flex flex-col w-full gap-y-11 hero-section-gradient items-center"
>
  <div class="flex flex-col items-center max-w-4xl">
    <RotatingText
      tickDuration={1500}
      words={["Build", "Release", "Maintain", "Publish"]}
    />
    <h1 class="text-6xl font-bold text-neutral-50 md:text-8xl text-center">
      your dream app with us
    </h1>
  </div>
  <p class="text-2xl text-neutral-50 w-full max-w-[554px] text-center">
    Our experience has helped our clients launch new companies in the digital
    arena throughout the years.
  </p>
  <div class="flex gap-2">
    <a class="btn bg-blue-500 text-neutral-50" href="/calculate">
      Project estimation
    </a>
    <a href="/portfolio" class="btn bg-transparent text-blue-500">
      Our projects
      <ArrowRight class="h-4 w-4 text-gray-900" />
    </a>
  </div>

  {/* Glow effects */}
  <div
    class="glow-str absolute top-[180px] left-[-169px] hidden h-64 w-64 rounded-full bg-blue-500 md:block"
  >
  </div>
  <div
    class="glow-str absolute top-[-49px] left-[295px] hidden h-64 w-64 rounded-full bg-indigo-900 md:block"
  >
  </div>
  <div
    class="glow-str absolute top-[112px] right-[154px] h-64 w-64 rounded-full bg-gray-900"
  >
  </div>
</section>
