@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-btn {
    @apply flex h-10 w-10 items-center justify-center gap-2 rounded-lg p-1;
  }
  .btn {
    @apply flex items-center justify-center gap-2  rounded-lg py-2 px-3 text-base;
  }
  .glow-def {
    @apply animate-pulse blur-[120px];
  }
  .glow-str {
    @apply animate-pulse blur-[200px];
  }
  .shadow-card {
    @apply drop-shadow-[0_4px_10px_rgba(228,228,231,0.75)];
  }
  .shadow-section {
    @apply drop-shadow-[0_4px_30px_rgba(17,24,39,0.5)];
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
