@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-btn {
    @apply flex h-10 w-10 items-center justify-center gap-2 rounded-lg  p-1;
  }
  .btn {
    @apply flex items-center justify-center gap-1 rounded py-3 px-6 text-base;
  }
  .btn-small {
    @apply flex items-center justify-center gap-2 rounded py-2 px-3 text-base;
  }
  .glow-def {
    @apply animate-pulse blur-[120px];
  }
  .glow-str {
    @apply animate-pulse blur-[200px];
  }
  .shadow-card {
    @apply drop-shadow-[0_4px_10px_rgba(228,228,231,0.75)];
  }
  .shadow-section {
    @apply drop-shadow-[0_4px_30px_rgba(17,24,39,0.1)];
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .gradient-blue-black {
    @apply bg-gradient-to-r from-[#2980B9] to-[#2C3E50];
  }
  .gradient-orange-yellow {
    @apply bg-gradient-to-r from-[#F09819] to-[#EDDE5D];
  }
  .gradient-orange-red {
    @apply bg-gradient-to-r from-[#FE8C00] to-[#F83600];
  }
  .gradient-blue-red {
    @apply bg-gradient-to-r from-[#009FFF] to-[#EC2F4B];
  }
  .gradient-green-lightgreen {
    @apply bg-gradient-to-r from-[#56AB2F] to-[#A8E063];
  }
  .gradient-green-yellow {
    @apply bg-gradient-to-r from-[#16A085] to-[#DABA3B];
  }
  .gradient-pink-purple {
    @apply bg-gradient-to-r from-[#9D50BB] to-[#6E48AA];
  }
  .hero-section-gradient {
    @apply bg-gradient-to-b from-gray-900 to-[#1B2230];
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
