@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-btn {
    @apply flex h-10 w-10 items-center justify-center gap-2 rounded-lg p-1;
  }
  .btn {
    @apply flex items-center justify-center gap-2  rounded-lg py-2 px-3 text-base;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
