---
import ArrowRight from "astro-heroicons/outline/ArrowRight.astro";
---

<section
  class="relative flex w-full flex-col items-center justify-center space-y-12 sm:space-y-8 px-7 pt-24"
>
  <div class="text-center">
    <h4
      class="bg-gradient-to-r from-orange-400 to-red-600 bg-clip-text text-5xl font-bold text-transparent pb-3"
    >
      Sound interesting?
    </h4>
    <h3 class="text-5xl font-bold text-neutral-50">Let’s work together</h3>
  </div>
  <p class="text-center text-base text-neutral-50">
    You can start with estimating the project cost and then contact us.
  </p>
  <div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0 sm:space-x-7">
    <a class="btn bg-blue-700 text-base text-neutral-50" href="/calculator">
      Estimate price
      <ArrowRight class="h-4 w-4" />
    </a>
    <a
      class="btn h-12 border border-zinc-200 text-neutral-50"
      href="/showcases"
    >
      Our projects
      <ArrowRight class="h-4 w-4" />
    </a>
  </div>
</section>
