---
import LandingSectionLayout from "../../layouts/landing-section-layout.astro";
import ReviewSectionCarousel from "./review-section-carousel";
---

<LandingSectionLayout title="What do they say about us?" titleClassName="mb-10">
  <div class="w-full"><ReviewSectionCarousel client:load /></div>
</LandingSectionLayout>
