---
import ReviewSectionCarousel from "./review-section-carousel";
---

<section class="flex w-full flex-col items-center">
  <h2 class="mb-10 text-3xl font-bold text-slate-700">
    What do they say about us?
  </h2>
  <div class="w-full"><ReviewSectionCarousel client:load /></div>
</section>
