---
import Container from "../container.astro";
import HeaderMenu from "./header-menu";
import { HeaderNavigation } from "./header-navigation";
import { getHeaderColorScheme } from "./helpers/get-header-color-scheme";

interface Props {
  isDark?: boolean;
}

const { isDark } = Astro.props;

const { bgColor, textColor } = getHeaderColorScheme(isDark);
---

<header class={bgColor}>
  <Container>
    <div class="flex w-full items-center justify-between py-3">
      <a href="/">
        <img
          src={`logos/${isDark ? "dark.svg" : "light.svg"}`}
          alt="Broadency logo"
          class="h-5"
        />
      </a>

      <div class="hidden items-center space-x-4 sm:flex">
        <HeaderNavigation isDark={isDark} />
      </div>
      <HeaderMenu client:visible isDark={isDark} />
    </div>
  </Container>
</header>
