---
interface Props {
  href: string;
  inNewTab?: boolean;
  isDark?: boolean;
}

const { href, inNewTab, isDark } = Astro.props;

const textColor = isDark ? "text-neutral-50" : "text-slate-700";
---

<a
  class={`${textColor} hover:underline text-xs font-bold`}
  href={href}
  target={inNewTab ? "_blank" : undefined}
>
  <slot />
</a>
