---
interface Props {
  title: string;
  titleClassName: string;
  id?: string;
}

const { title, titleClassName, id } = Astro.props;
---

<section id={id} class="w-full flex flex-col items-center">
  <h2
    class={`mx-5 sm:mx-0 text-center font-bold text-3xl text-slate-700 ${titleClassName}`}
  >
    {title}
  </h2>
  <div class="w-full"><slot /></div>
</section>
