---
import "@fontsource/noto-sans";

import Container from "../component/container.astro";
import Footer from "../component/footer/footer.astro";
import Header from "../component/header/header.astro";

import "../styles/globals.css";

interface Props {
  title: string;
  tags: string[];
  description: string;
}

const { tags, title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={tags.join(", ")} />
    <title>{title}</title>
  </head>
  <body class="space-y-24">
    <Header />
    <Container>
      <main class="space-y-24">
        <slot />
      </main>
      <Footer />
    </Container>
  </body>
</html>
